.color-container {
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    background-color: #00000055;

    font-family: 'Lato', sans-serif;
    color: white;
}

.full .color-name {
    height: fit-content;
    font-weight: bold;
    margin: 4px 0;
}

a {
    color: var(--heading-color);
}

.full .color-value {
    color: #aaa;
    height: fit-content;
    font-weight: bold;
    margin: 4px 0;
    font-size: 10px;
    padding-left: 4px;
}

.full color-selector {
    height: 50px;
}

.full .clr-field button {
    width: 100%;
    height: 50px;
    border-radius: 0px;
}

.full .clr-field button::after {
    border: 2px solid #00000055;
    box-sizing: border-box;
    box-shadow: none;
}

.full input {
    width: 100%;
    padding: none;
    box-sizing: border-box;
    opacity: 0;
    cursor: pointer;
    height: 50px;
}

.window-popup {
    display: block;
    flex-flow: column wrap;
    z-index: 100;
    top: 100px;
    left: 100px;
    position: absolute;
    width: fit-content;
}

.window-title {
    width: fit-content;
    font-size: 22px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.window-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: #222;
    border-radius: 8px;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 4px;
    border: 1px solid #111;

    cursor: move;
}

.window-popup > * {
    box-shadow: 0 0 4px #00000055;
}

#text-barber {
    position: relative;
    display: flex;
    flex-flow: row wrap;

    justify-content: flex-start;
    align-items: flex-start;

    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    height: 300px;
    width: 540px;
    border: 1px solid #111;

    z-index: 100;
    overflow-y: scroll;
    resize: both;
}

#text-barber th, #text-barber td {
    position: relative;
    align-self: center;
    text-align: center;
    padding: 8px;
}

#text-barber tr:nth-child(even) td { background-color: #00000055; }
#text-barber tr:nth-child(even) td:first-child {
    border-radius: 10px 0 0 10px;
}#text-barber tr:nth-child(even) td:last-child {
    border-radius: 0 10px 10px 0;
}

#text-barber th {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #eee;
}

#text-barber select {
    cursor: pointer;
    color:white;
    border-radius: 10px;
    height: 40px;
    background-color: #888;
    box-shadow: 0px 2px 0px #555;
    border: 1px solid #aaa;
    margin: 4px 0;
}
#text-barber input[type=number] {
    text-align: center;
    margin: 4px 0;
    color:#444;
    border-radius: 10px;
    height: 40px;
    width: 60px;
    background-color: #eee;
    box-shadow: 0px 2px 0px #999;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 0 4px;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
#text-barber input[type=number]:focus {
    outline: none;
    border-color: #22abef;
    box-shadow: 0px 2px 0px #60bfee;
}
#text-barber input[type=number]::-webkit-inner-spin-button, 
#text-barber input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.font-preview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    max-height: 150px;
    overflow: hidden;
    width: fit-content;
    border: 2px solid #aaa;
    box-shadow: inset gray 0px 0px 30px -12px, 0 2px 0px #111; 

    padding: 4px;
    background-color: var(--page-background-color);
    background-image: var(--page-background-image);
    border-radius: 8px;
}

.font-preview * {
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-barber-row {
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    align-items: center;
}

.preview-box {
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc(100% + 10px);
    height: 100%;
    overflow: hidden;
    width: fit-content;

    max-width: 400px;
    padding: 8px;
    background-color: white;
    border: 1px solid #aaa;

    box-sizing: border-box;
}

.sandbox {
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;
    overflow: hidden;

    padding: 4px;
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid #000000aa;
    width: fit-content;
    box-sizing: border-box;
}

#color-picker {
    display: flex;
    flex-flow: row wrap;

    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    height: 300px;
    width: 540px;
    border: 1px solid #111;

    z-index: 100;
    overflow-y: scroll;
    resize: both;
}

.category {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.category:first-child{
    margin-top: 0;
}

.category-name {
    width: 100%;
    color: white;
    font-size: 24px;
}

.close-button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: rgb(148, 51, 51);
    cursor: pointer;
    font-size: 20px;
    border-radius: 100%;
    border: 2px solid black;
    color: black;
    text-align: center;
    padding: 1px 2px;
    box-sizing: border-box;
}

.close-button:hover {
    background-color: rgb(176, 85, 85);
}


.snippets-selector {
    display: flex;
    flex-flow: row nowrap;

    width: fit-content;

    position: relative;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

.snippets-container {
    display: flex;
    flex-flow: row nowrap;

    width: 800px;
    height: 400px;

    box-sizing: border-box;
    resize: both;
    overflow: hidden;
}

.column-category {
    width: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #111;
}

.snippets-content {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #333;
}

.snippet-category {
    color: white;
    padding: 8px;
    border-bottom: 1px solid black;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.snippet-category:first-child { margin-top: 0;}
.snippet-category:last-child { margin-bottom: 0;}

.snippet-category:hover{
    background-color: #444;
}

.snippet-category-name {
    color: white;
    font-size: 20px;
    padding-bottom: 4px;
    margin: 8px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.item {
    color: white;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    outline: 2px solid #00000022;
    border: 1px solid black;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #222;
}
.item:first-child { margin-top: 0; }
.item:last-child { margin-bottom: 0; }
.item:hover {
    border: 1px solid #666;
}

.mini-page {
    transform-origin: top left;

    width: var(--page-width);
    height: var(--page-height);
    background-color: white;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    columns: 2;
    column-gap: 1cm;

    padding-top: var(--page-margin-top);
    padding-left: var(--page-margin-left);
    padding-right: var(--page-margin-right);
    padding-bottom: var(--page-margin-bottom);
    border: 8px solid black;
}

.page-preview {
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;

    position: absolute;
    margin-left: calc(100% + 8px);
    min-height: 333%;

    transform-origin: 0 0;
    transform: scale(0.3);

    box-sizing: border-box;
    overflow: hidden;
}

.block-preview {
    display: none;
    position: absolute;
    margin-left: calc(100% + 8px);

    width: calc(var(--page-width) * 0.5 - 1cm - var(--page-margin-left));

    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid black;
    padding: 8px;
    background-color: white;
}

.block-preview .frame {
    margin-top: 42px;
}