.page-content {
    margin-top: var(--page-margin-top);
    margin-left: var(--page-margin-left);
    margin-right: var(--page-margin-right);
    margin-bottom: var(--page-margin-bottom);
    box-sizing: border-box;

    column-count: var(--column-count);
    column-fill: auto;
    column-gap: 1cm;

    width: calc(100% - var(--page-margin-left) - var(--page-margin-right));
    height: calc(100% - var(--page-margin-top) - var(--page-margin-bottom));
}

.page:nth-child(even) .page-content {
    margin-left: var(--page-margin-right);
    margin-right: var(--page-margin-left);
}

.page {
    width: var(--page-width);
    height: var(--page-height);

    position: relative;

    box-sizing: border-box;
    overflow: hidden;
    contain: size;

    counter-increment: number-of-page;
    counter-reset: note-number;

    z-index: 10;

    flex-shrink: 0;
    flex-grow: 0;
    margin: auto;
}

.column-break + * {
    margin-top: 0!important;
}

.page::before {
    top: 0;
    left: 0;
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--page-background-color);
    background-image: var(--page-background-image);
    background-size: 100% 100%;
    background-position: left;
    z-index: -3;
}

.page:nth-child(even)::before {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    background-position: right;
    background-image: var(--page-background-image2, var(--page-background-image));
}

.page img {
    position: relative;
    z-index: -2;
}

.page pre {
    display: block;
    word-break: break-all;
}

.page pre code {
    padding: 8px;
    border-radius: 4px;
    background-color: #ddd;
    color: #333;
    border: 1px solid #aaa;
    display: block;
    break-inside: avoid;
}

.page code {
    padding: 2px 4px;
    margin: 0;
    white-space: pre-wrap;
    display: inline-block;
    text-indent: 0!important;

    background-color: #ddd;
    color: #333;
    break-inside: avoid;
}

.chapter {
    column-span: all;
    counter-increment: number-of-chapter;
}

.wide {
    display: block !important;
    column-span: all;
    margin-bottom: var(--space-between);
}

.text-stroke {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: 0;
    width: 100%;
} 

.page:nth-child(even) .footnote {
    text-align: left;
}

.page img.cover {
    position: absolute;
    left: 0;
    top: 0;
}

.note, .description {
    display: inline-block;
    width: 100%;
}

.column-break { 
    display: block; 
    margin: 0!important;
    break-after: column;
    width: 0;
    height: 0;
}

.caption {
    font-family: var(--legend-font);
    color: var(--legend-color);
    font-size: var(--legend-size);
    z-index: 10; 
}
p { margin: 0; /*hyphens: auto;*/ }

/*******************
   MARK: WATERCOLOR
*******************/
.watercolor {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;

    --wc-mask: var(--reverse-mask);
    --wc-size: 100%;

    mask-image: var(--wc-mask);
    mask-size: var(--wc-size);
    mask-position: bottom left;
    mask-repeat: no-repeat;
    mask-composite: add;
    --wc-scale-x: 1;
    --wc-scale-y: 1;
    --wc-x: 0;
    --wc-y: 0;
    -webkit-mask-image: var(--wc-mask);
    -webkit-mask-size: var(--wc-size), 100%;
    -webkit-mask-position: bottom var(--wc-y) left var(--wc-x), bottom left;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: destination-over;

    transform: scale(var(--wc-scale-x), var(--wc-scale-y));
    z-index: -2;
}
.watercolor.reverse{
    --reverse-mask: linear-gradient(#fff, #fff);
    mask-composite:exclude;
    -webkit-mask-composite: destination-out;
}
.watercolor > .wc-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(var(--wc-scale-x), var(--wc-scale-y));
}
.watercolor > .wc-container > * {
    transform: translate(var(--wc-x), calc(-1 * var(--wc-y)))
}

.watercolor.right{
    --wc-scale-x: -1;
    filter: FlipH;
}
.watercolor.top { --wc-scale-y: -1; }


/*******************
   MARK: TEXT
*******************/
h1, h2, h3, h4 {
    color: var(--heading-color);
}

h1 {
    font-family: var(--h1-font);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    font-style: var(--h1-italic);
}
h2 {
    font-family: var(--h2-font);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    font-style: var(--h2-italic);
}
h3 {
    font-family: var(--h3-font);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    font-style: var(--h3-italic);
}
h4 {
    font-family: var(--h4-font);
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    font-style: var(--h4-italic);
}

/*******************
   MARK: TOC
*******************/
.toc {
    column-span: all;
    column-count: 2;
}
.toc-entry {
    list-style: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    color:inherit;
    box-sizing: border-box;
    align-items: flex-end;
}
.toc-heading { flex-grow: 1; display: flex; }
.toc-heading::after {
    flex-grow: 1;
    content: ' ';
    border-bottom: 1px dotted black;
    margin: 3px;
    box-sizing: border-box;
}
.toc li::marker { content: ''; }
.toc h1 { text-align: center; }
.toc > ul, .toc > ul > li > ul { padding-left: 0; }
.toc > ul > li { margin-bottom: 1em; }
.toc > ul > li > a { border-bottom: 2px solid var(--primary-color); }
.toc > ul > li > a .toc-heading {
    color: var(--heading-color);
    font-size: 150%;
    font-family: var(--h1-font);
}
.toc > ul > li > ul > li > a .toc-heading { 
    font-size: 135%; 
    font-family: var(--h2-font); 
    color: var(--heading-color); 
}
.toc > ul > li > ul > li { margin: 1em 0; }
.toc > ul > li > a > .toc-heading::after { border: none; }