.monster.modern {
    background-image: none;
    background-color: ghostwhite;
    border: 0.4em double #00000066;
    border-radius: 1em;
    padding: 8px;
}

.monster.modern::before, .monster.modern::after {
    display: none;
}

.monster.modern > h2 {
    font-family: "Scaly Sans", sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    border-bottom: 1px solid var(--monster-text-color);
    margin-bottom: 0.4em;
}

.monster.modern h2 + p {
    color: #444444;
}