/********************
   MARK: CHAPTER
********************/
.chapter.witch h1 {
    text-align: center;
    font-size: 30pt;
    margin-bottom: 0.5em;
}
.chapter.witch h1::before{ 
    display: block;
    width: 100%;
    content: var(--chapter-number);
    font-size: 14pt;
    letter-spacing: 0.2em;
    text-shadow: none;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 0.5em;

}
.chapter.witch.decoration::before {
    background-image: url('../../assets/Witchlight/witch-chapter-1.png');
}
.chapter.witch.decoration.v2::before{ background-image: url('../../assets/Witchlight/witch-chapter-2.png'); }
.chapter.witch.decoration.v3::before{ background-image: url('../../assets/Witchlight/witch-chapter-3.png'); }
.chapter.witch.decoration.v4::before{ background-image: url('../../assets/Witchlight/witch-chapter-4.png'); }
.chapter.witch.decoration.v5::before{ background-image: url('../../assets/Witchlight/witch-chapter-5.png'); }
.chapter.witch.decoration.v6::before{ background-image: url('../../assets/Witchlight/witch-chapter-6.png'); }
.chapter.witch.decoration.v7::before{ background-image: url('../../assets/Witchlight/witch-chapter-7.png'); }
.chapter.witch.decoration.v8::before{ background-image: url('../../assets/Witchlight/witch-chapter-8.png'); }
.chapter.witch.decoration.v9::before{ background-image: url('../../assets/Witchlight/witch-chapter-9.png'); }



.chapter.witch + p > .lettrine::before {
    font-family: "Ivory Swashes", sans-serif;
    content: attr(title);
    position: absolute;
    vertical-align: middle;
    text-align: center;
    margin-right: -0.025em;
    right: 0;
    z-index: -1;
    color: #cfb987;
}

/********************
   MARK: FOOTER
********************/

.footer.witch {
    background-image: url('../../assets/Witchlight/witch-footer-1.png');
    background-position: bottom right;
    --size: calc(0.10 * var(--page-height));
    background-size: var(--size);
    color: var(--lettrine-color);
}
.footer.witch::after{
    text-shadow: 0 0 2px white, 0 0 1px white;
}

.footer.witch.v2, .footer.witch.blue   { background-image: url('../../assets/Witchlight/witch-footer-2.png'); }
.footer.witch.v3, .footer.witch.red    { background-image: url('../../assets/Witchlight/witch-footer-3.png'); }
.footer.witch.v4, .footer.witch.orange { background-image: url('../../assets/Witchlight/witch-footer-4.png'); }
.footer.witch.v5, .footer.witch.purple { background-image: url('../../assets/Witchlight/witch-footer-5.png'); }
.footer.witch.v6, .footer.witch.pink   { background-image: url('../../assets/Witchlight/witch-footer-6.png'); }
.footer.witch.v7, .footer.witch.green  { background-image: url('../../assets/Witchlight/witch-footer-7.png'); }